.col-sm-5{
    float: left;
    background: rgb(130,233,255);
    background: linear-gradient(90deg, rgba(130,233,255,1) 1%, rgba(199,166,234,1) 100%);
    border-bottom-color: black;
    border-bottom-width: 4px;
    border-style: inset;
    height: 228px;
}

.h1punto2{
    text-align: center;
    color: #313131;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    letter-spacing: .1em;
    text-shadow: 
      4px 2px 0px grey, 
      2px 2px 0px rgba(0, 0, 0, 0.2);
  }

  .ppunto2{
    font-family: 'Lato', sans-serif;
    letter-spacing: .1em;
    text-decoration: double;
    color: black;
    font-variant: small-caps;
    font-size:14px
    
}